---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import Hero from '../components/Hero.astro'
---

<DefaultLayout title="Home">
  <Hero/>
  <section class="my-64">
    <div class="container"> 
      <h2 class="mb-16 text-6xl">Buy Now</h2>
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <Feature title="1">
         
        </Feature>
        <Feature title="2">
         
        </Feature>
        <Feature title="3">
         
        </Feature>
        <Feature title="4">
         
        </Feature>
        <Feature title="5">
         
        </Feature>
      </div>
      
    </div>
  </section>
  
</DefaultLayout>
